---
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Whatsapp from "../components/Whatsapp.astro";
import Layout from "../layouts/Layout.astro";
import { services } from "../consts";
import ListaServices from "../components/ListaServices.astro";
---

<Layout title="All On Four">
  <NavBar />

  <div class="p-14 bg-black"></div>

  <div class="w-full py-16 px-4 md:px-8 overflow-hidden">
    <div
      class="container mx-auto max-w-6xl flex flex-col md:flex-row items-center gap-12"
    >
      <!-- Imagen con decoraciones -->
      <div class="relative flex-1 flex justify-center">
        <!-- Tarjeta flotante -->
        <div
          class="relative z-10 transform rotate-6 hover:rotate-0 transition-transform duration-500 shadow-2xl max-w-xs"
        >
          <img
            src="./allonfour.webp"
            alt="allonfour"
            class="object-cover rounded-lg"
          />
        </div>
      </div>

      <div
        class="flex-1 flex flex-col items-center md:items-start text-center md:text-left gap-2"
      >
        <h2 class="text-3xl md:text-4xl font-bold uppercase">
          🪥ALL ON FOUR🦷
        </h2>

        <span>#SonrisasRealesIntegradent</span>
        <p class="text-gray-600 leading-relaxed">
          La técnica ALL ON FOUR, consiste en la colocación inmediata de la
          prótesis dental el mismo día de la cirugía. Este tratamiento
          proporciona una restauración eficaz y fiable a los pacientes y está
          orientada a reponer todos los dientes de la arcada superior o inferior
          con un número reducido de implantes dentales. La técnica All on Four
          representa la implantología de última generación, realizada por
          profesionales debidamente cualificados. Permite realizar extracciones,
          eliminar la infección, colocar los implantes y dientes, tanto de la
          arcada superior como inferior de una manera fija, sin paladar, en el
          mismo día.
        </p>

        <span
          >No arriesgues tu salud en manos de cualquiera... ¡Nosotros somos los
          indicados!</span
        >
      </div>

      <ListaServices />
    </div>
  </div>

  <Whatsapp />
  <Footer />
</Layout>
