---
import Footer from "../components/Footer.astro";
import ListaServices from "../components/ListaServices.astro";
import NavBar from "../components/NavBar.astro";
import Whatsapp from "../components/Whatsapp.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Radiografia">
  <NavBar />

  <div class="p-14 bg-black"></div>

  <div class="w-full py-16 px-4 md:px-8 overflow-hidden">
    <div
      class="container mx-auto max-w-6xl flex flex-col md:flex-row items-center gap-12"
    >
      <!-- Imagen con decoraciones -->
      <div class="relative flex-1 flex justify-center">
        <!-- Círculos decorativos -->
        <div
          class="absolute w-64 h-64 border border-black rounded-full -bottom-10 -left-10 md:-left-0"
        >
        </div>
        <div
          class="absolute w-80 h-80 border border-black rounded-full -bottom-20 -left-20 md:-left-8"
        >
        </div>

        <!-- Tarjeta flotante -->
        <div
          class="relative z-10 transform rotate-6 hover:rotate-0 transition-transform duration-500 shadow-2xl max-w-xs"
        >
          <img
            src="./radiografia.webp"
            alt="radiografia"
            class="object-cover rounded-lg"
          />
        </div>
      </div>

      <div
        class="flex-1 flex flex-col items-center md:items-start text-center md:text-left gap-2"
      >
        <h2 class="text-3xl md:text-4xl font-bold">
          🔍RADIOGRAFÍAS Y TOMOGRAFÍAS🦷
        </h2>

        <span>#SonrisasRealesIntegradent</span>
        <p class="text-gray-600 leading-relaxed">
          Muchas veces nuestros pacientes se preguntan para qué o por qué se
          pide cierto tipo de examen para acudir a consulta y, dependiendo de la
          especialidad que necesites, también será la necesidad del examen:
        </p>
        <ul class="text-gray-600">
          <li>✨Radiografía Periapical</li>
          <li>✨Radiografía Panorámica</li>
          <li>✨Radiografía Tomografía Dental 🦷</li>
        </ul>

        <span
          >No arriesgues tu salud en manos de cualquiera... ¡Nosotros somos los
          indicados!</span
        >
      </div>
      <ListaServices />
    </div>
  </div>

  <Whatsapp />
  <Footer />
</Layout>
