---
import { services } from "../consts";
import Button from "./Button.astro";
---

<div class="rounded-2xl shadow-lg overflow-hidden bg-black p-5">
  <ul class="flex justify-center flex-col gap-1">
    <li class="text-white uppercase font-bold text-center">Servicios</li>
    {
      services.map((service) => (
        <Button link={service.link} servicio={service.title} />
      ))
    }
  </ul>
</div>
